<!-- Common Footer -->
<footer class="site-footer">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" rel="stylesheet" />
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Noto+Sans:wght@400;700&display=swap" rel="stylesheet">

  <div class="footer-waves">
      <svg class="waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
      viewBox="0 24 150 28" preserveAspectRatio="none" shape-rendering="auto">
        <defs>
          <path id="gentle-wave" d="M-160 44c30 0 58-10 88-10s 58 10 88 10 58-10 88-10 58 10 88 10 v44h-352z" />
        </defs>
        <g class="parallax">
          <use xlink:href="#gentle-wave" x="48" y="0" fill="rgba(255,255,255,0.7)" />
          <use xlink:href="#gentle-wave" x="48" y="3" fill="rgba(255,255,255,0.5)" />
          <use xlink:href="#gentle-wave" x="48" y="5" fill="rgba(255,255,255,0.3)" />
          <use xlink:href="#gentle-wave" x="48" y="7" fill="#fff" />
        </g>
      </svg>
    </div>
  <div class="footer-content">
    <div class="social-links">
      <a href="https://linktr.ee/iiser_episteme" target="_blank" rel="noopener noreferrer"><i class="fa-solid fa-hashtag"></i></a>
      <a href="https://www.instagram.com/iiser_episteme/" target="_blank" rel="noopener noreferrer"><i class="fab fa-instagram"></i></a>
      <a href="https://www.linkedin.com/company/epistememagazine/" target="_blank" rel="noopener noreferrer"><i class="fab fa-linkedin-in"></i></a>
      <a href="https://x.com/iiser_episteme" target="_blank" rel="noopener noreferrer"><i class="fa-brands fa-x-twitter"></i></a>
      <a href="mailto:episteme@iiserbpr.ac.in"><i class="far fa-envelope"></i></a>
      <span class="copyright">
        <i class="far fa-copyright"></i>
        <span>Episteme Science Magazine 2022</span>
      </span>
    </div>
    <div class="footer-logo">
      <img alt="Episteme Logo" class="footer-logo-img" src="assets\images\logo.png"/>
      
    </div>
  </div>
</footer>